html {
    font-size: 62.5%;
    height: 100%;
}

body {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;

    margin: 0;
    padding: 0;
    justify-items: center;
    align-items: flex-start;
}

a {
    text-decoration: none;
}


/* Header section */

.wrapper-header-container {
    display: flex;

    width: 100%;
    height: 115px;

    max-width: 1920px;

    justify-content: space-between;
    align-items: center;
}

/* left block in header */

.header-infobox {
    display: flex;

    justify-content: center;
    align-items: center;
    margin-left: 5.2%;
}

.header-infobox a figure {
    margin: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.header-infobox a figure img {
    width: 7.5rem;
    height: 7.5rem;
}

.header-infobox a figure p {
    margin: 0;
    margin-bottom: 1.5rem;

    color: #000;

    text-align: center;
    font-family: 'M PLUS 1', sans-serif;
    font-size: 4.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


/* right block in header */

.header-menu-obtaining {
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
    margin-right: 5.2%;
}

.header-menu-obtaining nav {
    display: flex;

    justify-content: center;
    align-items: center;
    gap: 6rem;
}

.header-menu-obtaining nav a {
    color: #000;

    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    width: auto;
}


/* modules section */

.wrapper-modules-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

/* block with picture and bold text */

.module-introduction {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 550px;
    width: 100%;
    overflow: hidden;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.module-introduction img {
    position: absolute;

    height: 100%;
    width: 100%;
    object-fit: cover;
}

.introduction-obtaining {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, 0.12);

    z-index: 1;
}

.introduction-obtaining p {
    margin: 0;

    color: #FFF;

    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 4.8rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

/* module with plant */

.module-plant {
    display: flex;

    width: 100%;
    height: 300px;

    align-items: center;
    justify-content: center;
}

.module-plant img {
    width: 150px;
    height: 150px;
}


/* footer section */

.wrapper-footer-container {
    display: flex;

    width: 100%;
    height: 115px;

    max-width: 1920px;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* left block in footer */

.footer-infobox {
    display: flex;

    flex-direction: column;
    align-items: flex-start;
    margin-left: 5.2%;

    gap: 10px;
}

.footer-infobox-copyright {
    margin: 0;

    color: #000;

    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.footer-infobox-attribution {
    margin: 0;

    color: #000;

    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

/* logo on the right side in footer */

.wrapper-footer-container img {
    width: 50px;
    height: 50px;
    margin-right: 5.2%;
}

@media screen and (max-width: 1660px) {
    html {
        font-size: 50%;
    }    
}